DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.rvkyfgtvijrqmihzenfs.supabase.co:5432/postgres"
SUPABASE_URL="https://rvkyfgtvijrqmihzenfs.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2a3lmZ3R2aWpycW1paHplbmZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4Nzg3NjUsImV4cCI6MjEwMjQ1NDc2NX0.PRimOU4a8lUO74vQjz6QeZ-2Q5Lg0DTKnDTvDgGo7CM"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2a3lmZ3R2aWpycW1paHplbmZzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Njg3ODc2NSwiZXhwIjoyMTAyNDU0NzY1fQ.WElElbQqSmZM-HySZigrxpN8yfZpD1FyoLA3u-WPD3w"